<!DOCTYPE html>
<html lang="en">
<head>
    <title>Client Problems</title>
<meta http-equiv="refresh" content="20">
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body>

<h1> Posted problems</h1>
<p></p>
Problems Solved = {{probs|length}}
<p></p>
<h2>Alojamientos</h2>
<table>
    <tr>
        <th>Prob ID</th>
        <th>Prob Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Destination city</th>


        <th>Solution</th>
    </tr>
    {% for id in probs|sort %}
    {% if probs[id][0] == 'REQALLOTJAMENT' %}
    <tr>
        <td>{{id}}</td>
        <td>{{probs[id][0]}}</td>
        <td>{{probs[id][1]}}</td>
        <td>{{probs[id][2]}}</td>
        <td>{{probs[id][4]}}</td>
        <td>{{probs[id][10]}}</td>

     </tr>
    {% endif %}
    {% endfor %}

</table>
<br><br>
<h2>Transportes</h2>
<table>
    <tr>
        <th>Prob ID</th>
        <th>Prob Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Origin city</th>
        <th>Destination city</th>
        <th>Min price</th>
        <th>Max price</th>
        <th>Ludicas</th>
        <th>Culturales</th>
        <th>Festivas</th>
        <th>Solution</th>
    </tr>
    {% for id in probs|sort %}
    {% if probs[id][0] == 'REQTRANSPORT' %}
    <tr>
        <td>{{id}}</td>
        <td>{{probs[id][0]}}</td>
        <td>{{probs[id][1]}}</td>
        <td>{{probs[id][2]}}</td>
        <td>{{probs[id][3]}}</td>
        <td>{{probs[id][4]}}</td>
        <td>{{probs[id][5]}}</td>
        <td>{{probs[id][6]}}</td>
        <td>{{probs[id][7]}}</td>
        <td>{{probs[id][8]}}</td>
        <td>{{probs[id][9]}}</td>
        <td>{{probs[id][10]}}</td>

     </tr>
    {% endif %}
    {% endfor %}
</table>

<form  action="/info" method="get">
    <p>
        <button type="submit">Refresh</button>
    </p>
</form>

</body>
</html>