<!DOCTYPE html>
<html>
	<head>
        <title>Client Problems</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="refresh" content="20">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	</head>
	<body>

		<br>
		<h1 style="padding-left: 20px"> Problemas subidos a TravelPack </h1>
		<br>
		<form  action="/iface" method="get">
			<button type="submit" class="btn btn-secondary"  style="margin-left: 50px">Volver a la página principal</button>
        </form>
		<br>
		<div style="margin-left: 50px">
			<h3><label>Posibles paquetes de viaje</label> </h3>
		</div>
		<br>
		<div style="margin-left: 80px;margin-right: 80px">
			<table class="table table-borderless">
				<tr class="table-light" >
					<th>Fecha de inicio</th>
					<th>Fecha de regreso</th>
					<th>Ciudad origen</th>
					<th>Ciudad destino</th>
					<th>Nombre del alojamiento</th>
					<th>Precio del alojamiento</th>
					<th>Aeropuerto de llegada</th>
					<th>Precio del transporte</th>
					<th>Precio total</th>
				</tr>
					{% for id in bar|sort %}
                <tr>
                    <td>{{bar[id][0]}}</td>
                    <td>{{bar[id][1]}}</td>
                    <td>{{bar[id][2]}}</td>
                    <td>{{bar[id][3]}}</td>
                    <td>{{bar[id][4]}}</td>
                    <td>{{bar[id][5]}}</td>
                    <td>{{bar[id][6]}}</td>
                    <td>{{bar[id][7]}}</td>
                    <td>{{bar[id][8]}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<br>
		<div style="margin-left: 50px">
			<h3><label>Información de los alojamientos</label> </h3>
		</div>
		<br>
		<div style="margin-left: 80px;margin-right: 80px">
			<table class="table table-borderless">
				<tr class="table-light" >
					<th>Fecha de inicio</th>
					<th>Fecha de regreso</th>
					<th>Ciudad</th>
					<th>Nombre del alojamiento</th>
					<th>Precio</th>

				</tr>
				{% for id in all|sort %}
				<tr>
					<td>{{all[id][1]}}</td>
					<td>{{all[id][2]}}</td>
					<td>{{all[id][3]}}</td>
					<td>{{all[id][4]}}</td>
					<td>{{all[id][5]}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<br>
        		<div style="margin-left: 50px">
			<h3><label>Información de transportes</label></h3>
		</div>
		<br>
		<div style="margin-left: 80px;margin-right: 80px">
			<table class="table table-borderless">
				<tr class="table-light">
					<th>Fecha de salida</th>
                    <th>Fecha de regreso</th>
                    <th>Ciudad origen</th>
                    <th>Ciudad destino</th>
					<th>Aeropuerto de llegada</th>
                    <th>Precio</th>
                </tr>
				{% for id in tra|sort %}
				<tr>
					<td>{{tra[id][1]}}</td>
					<td>{{tra[id][2]}}</td>
					<td>{{tra[id][3]}}</td>
					<td>{{tra[id][4]}}</td>
					<td>{{tra[id][5]}}</td>
                    <td>{{tra[id][6]}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<br>
		<div style="margin-left: 50px">
			<h3><label>Información de las actividades</label></h3>
		</div>
		<div style="margin-left: 80px;margin-right: 80px">
			<table class="table table-borderless">
				<tr class="table-light">
                    <th>Ciudad</th>
                    <th>Nombre de la actividad</th>
                    <th>Tipo de actividad</th>
                    <th>Fecha de la actividad</th>
                    <th>Momento del día</th>

                </tr>
				{% for id in act|sort %}
				<tr>
					<td>{{act[id][1]}}</td>
					<td>{{act[id][2]}}</td>
					<td>{{act[id][3]}}</td>
					<td>{{act[id][4]}}</td>
					<td>{{act[id][5]}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>

        <br>
        <form action="/message" method="get">
                <button type="submit" class="btn btn-primary"  style="margin-left: 50px">Refrescar la página</button>
        </form>
		<br>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	</body>
</html>