<!DOCTYPE html>
<html>
	<head>
		<title>TravelPack</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="refresh" content="20">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	</head>
	<body>
		<br>
		<h1 style="padding-left: 20px"> TravelPack </h1>
		<h3 style="padding-left: 20px"> Lo sentimos. No hemos encontrado ningún viaje con las restricciones solicitadas. </h3>
    </body>
</html>